.outer-container {
  margin-top: 2rem;
  display: flex;
  flex-direction: row-reverse;
}

.form-container {
  background-color: rgb(255, 255, 255);
  border-radius: 1rem;
  width: 420px;
  height: 50%;
  padding: 1rem;
  margin: 0 auto 1rem auto;
  box-shadow: 1px 3px rgba(0, 0, 0, 0.3);
}

.container {
  background-color: rgb(255, 255, 255);
  border-radius: 1rem;
  width: 760px;
  padding: 1rem;
  margin: 0 auto 1rem auto;
  box-shadow: 1px 3px rgba(0, 0, 0, 0.3);
}