.ninja-item {
    list-style-type: none;
    padding: 1rem;
    margin: .8rem;
    border-radius: .5rem;
}

.available {
    background-color: #46e24c;
}

.not-available {
    background-color: #7b7b7b;
}

.ninja-name {
    display: block;
    font-size: 1.7rem;
    font-weight: 600;
}

.ninja-rank {
    display: block;
}

.ninja-available {
    display: block;
    font-size: 1.3rem;
}

.delete-ninja-button {
    padding: 6px 12px;
    border-radius: 6px;
    border: none;
    color: #ffffff;
    background: rgb(255, 81, 81);
    display: block;
    margin: 0 0 0 auto;
    font-weight: 600;
}

.delete-ninja-button:hover {
    cursor: pointer;
    background: rgb(250, 41, 41);
}