.ninja-list {
    color: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.title {
    text-align: center;
    font-size: 1.6rem;
    display: block;
    margin-bottom: 1.5rem;
}